<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2" >
            <h3><b>Edit Listing</b></h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control"/>
        </div>
        <br>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" value="<%=listing.description%>" type="text" class="form-control"></textarea>
        </div>
        <br>
        <div class="mb-3">
            Original image<br>
            <img src="<%=originalUrl%>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" type="file" class="form-control"/>
        </div>
        <br>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"  value="<%=listing.price%>"  class="form-control"/>
        </div>
        <br>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]"  value="<%=listing.location%>" type="text" class="form-control"/>
        </div>
        <br>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]"  value="<%=listing.country%>" type="text" class="form-control"/>
        </div>
        <button class="btn btn-dark edit-btn">Edit</button>
    </form>
</div>
</div>
</body>